<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Michael Bernstein</h1>
			<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
		</div>

		<h4>Projects</h4>
		{{#each projects}}
			<div class="project" id="{{id}}">
				<div class="thumbnail">
					<a href="/project/{{id}}">
						<img src="images/{{image}}" alt="Lorem Pixel image" class="img-responsive">
						<h4>{{title}}</h4>
					</a>
					<div class="likeCtr"><button class="btn btn-default likeBtn">Like</button></div>
					<div class="details"></div>
				</div>
			</div>
		{{/each}}


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
